{% extends "themes/base_admin.html.twig" %}

{% block title %}Nouvel article{% endblock %}

{% block description %}Nouvel article{% endblock %}

{% block tiny %}
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#post_form_content'
        });
    </script>
{% endblock %}
    
    {% block jquery %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block select2 %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    
    {% endif %}
{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Nouvel article</h1>

    <div class="container mt-5">
        {{ form_start(form) }}
            <div class="mb-3">
                <label for="post_form_title">Titre</label>
                <div class="text-danger">{{ form_errors(form.title) }}</div>
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                <label for="post_form_category">Catégorie</label>
                <div class="text-danger">{{ form_errors(form.category) }}</div>
                {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
            </div>
            {% if tags|length != 0 %}
             <div class="mb-3">
                <label for="post_form_tags">Tags</label>
                <div class="text-danger">{{ form_errors(form.tags) }}</div>
                {{ form_widget(form.tags, {'attr': {'class': 'form-control'}}) }}
            </div>
            <script>
                    $(document).ready(function() {
                        $('#post_form_tags').select2();
                    });
                    </script>
            {% else %}
                {{ form_widget(form.tags, { 'attr': {'class': 'd-none'} }) }}
            {% endif %}
            <div class="mb-3">
                <label for="post_form_image">Image</label>
                <div class="text-danger">{{ form_errors(form.imageFile) }}</div>
                {{ form_widget(form.imageFile, {}) }}
            </div>
            <div class="mb-3">
                <label for="post_form_content">Contenu</label>
                <div class="text-danger">{{ form_errors(form.content) }}</div>
                {{ form_widget(form.content, {'attr': {'class': 'form-control', 'rows': 10}}) }}
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-primary" value="Créer" formnovalidate />
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}