{% extends "themes/base_admin.html.twig" %}

{% block title %}Modifier le tag : {{ tag.name }} {% endblock %}

{% block description %}Modifier le tag : {{ tag.name }} {% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Modifier le tag : <em>{{ tag.name }}</em></h1>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 mx-auto">
                {{ form_start(form) }}
                    <div class="mb-3">
                        <label for="">Nom</label>
                    <div class="text-danger">{{ form_errors(form.name) }}</div>
                        {{ form_widget(form.name, {'attr': {'class' : 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        <input type="submit" class="btn btn-primary" value="Modifier" formnovalidate />
                        {# <button type="submit" class="btn btn-primary">Créer</button> #}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
