{% extends "themes/base_admin.html.twig" %}

{% block title %} - Liste des catégories{% endblock %}

{% block description %} - Liste des catégories{% endblock %}

{% block jquery %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block Datatables %}
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.13.1/datatables.min.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.13.1/datatables.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#table').DataTable( {
                    language: {
                        url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/fr-FR.json'
                    }
                } );
            } );
        </script>
{% endblock %}

{% block main %}
    <h1 class="display-5 my-3 text-center">Liste des catégories</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>    
    {% endfor %}

    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>    
    {% endfor %}

    <div class="d-flex justify-content-end align-items-center my-3">
        <a href="{{ path('admin.category.create') }}"class="btn  btn-sm btn-primary"><i class="fas fa-solid fa-plus"></i>Nouvelle catégorie</a>
    </div>

    <div class="table-responsive">
        <table id="table" class="table table-sm table-striped table-hover text-center">
            <thead class="bg-dark text-white">
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Slug</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody class="bg-white">
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>{{ category.slug }}</td>
                        <td>
                            <a href="{{ path('admin.category.edit', {'id': category.id}) }}" title="Modifier"  class="m-1 text-secondary"><i class="fa fa-thin fa-pen"></i></a>
                            <a href="#" title="Supprimer" class="m-1 text-danger" onclick="event.preventDefault(); confirm('Attention !!! En supprimant cette catégorie, vous supprimerez tous les articles qui lui sont associés') && document.querySelector('.js-logout-form-{{ category.id }}').submit()"><i class="fa fa-solid fa-trash-can"></i></a> 

                            <form class="js-logout-form-{{ category.id }}" action="{{ path('admin.category.delete', {'id': category.id}) }}" method="post" class="d-none">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('category_' ~ category.id) }}">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}